<h1><%= @result['name'] %><small> by: <%= @result['breweries'][0]["name"] %></small></h1>

<h4>Style: <small><%= @style_name %></small></h4>

<%= image_tag @image_url, :class =>"labels_image" %>

<h4>Description: <small><%= @description %></small></h4>